<div id="motore-ricerca">
    <div>
        <button id="generatoreComunicazioneGenerica" (click)="comunica()">ComunicazineGenerica</button>
    </div>
    <div>
        <ul *ngFor="let messaggio of messaggiRicevuti">
            <li>{{ messaggio }}</li>
        </ul>
    </div>
</div>
<div>
   <ul *ngFor="let photo of serviceB.photos | async ">
     <li>{{ photo.id }} - {{ photo.url }}</li>
   </ul>
</div>
